<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Shop APP</h1>
            <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis facere dolores
                obcaecati porro aspernatur quibusdam similique placeat velit in libero laudantium autem numquam
                optio possimus omnis odit, eos aliquid saepe.</p>
        </div>
    </div>
</header>